<div id="conversations" class="ui segment">
  <h3>Inbox</h3>

  <div class="ui list">
    <div class="item">
      <% @conversations.each do |conversation| %>

        <% if conversation.sender_id == current_user.id %>
        <% recipient = User.find(conversation.recipient_id) %>

        <% else conversation.recipient_id == current_user.id %>
          <% recipient = User.find(conversation.sender_id) %>
        <% end %>

        <div>
          <%= link_to conversation.sender.first_name, conversation_messages_path(conversation) %>
        </div>

          <% if !conversation.unread_message_count(current_user).zero? %>
          (<%= conversation.unread_message_count(current_user) %>)
          <% end %>
       <% end %>

    </div>
  </div>
</div>
