<section id="request">

<h2>Editing Request</h2>

<%= render 'form', request: @request %>

<div class="hover"><%= link_to 'Show', @request %></div>
<div class="hover"><%= link_to 'Back', requests_path %></div>

</section>
