<section id="home" class="main-home parallax-section">
  <div class="overlay"></div>
  <div id="particles-js"></div>
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-sm-12">
        <h1>askHelp</h1>
        <h4>Help your neighbor. For a one time task or a material need.</h4>
        <a href="/requests" class="smoothScroll btn btn-default">Get started</a>
      </div>

    </div>
  </div>
</section>

<%= react_component "About" %>
