// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*---------------------------------------
    Requests section
-----------------------------------------*/

 .btn {
  background: #bfba55;
  border: 2px solid #ffffff;
  border-radius: 100px;
  color: #ffffff;
  font-family: 'Merriweather', serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 13px 22px;
  margin-top: 10px;
  margin-bottom: 22px;
  transition: all 0.4s ease-in-out;
}

 .btn:hover {
  background: transparent;
  border-color: #bfba55;
  color: #bfba55;
}

.main-request {
  padding-top: 60px;
  padding-bottom: 80px;
  padding-left: 80px;
  padding-right: 80px;
}

#request {
  padding-top: 60px;
  padding-bottom: 80px;
  padding-left: 80px;
  padding-right: 80px;
}

.back {
  padding-top: 22px;
}

/*--------------------------------------
   Request table
--------------------------------------*/

.request-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 4px;
}

/*--------------------------------------
   Request form
--------------------------------------*/
form {
  
}



/*--------------------------------------
   Google maps
--------------------------------------*/

.map-responsive{
    margin-left: 40px;
    margin-right: 40px;
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
#map {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
